.paddingTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingTB80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
h1 {
  padding-bottom: 40px;
}
#colorChanger {
  padding: 10px 20px;
  border-radius: 0;
  color: #fff;
  background-color: #303030;
  border: 2px solid #303030;
}
#colorChanger:hover {
  background-color: #fff;
  color: #303030;
}
.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
